<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<h1 style="text-align:center;">Capital Bikeshare Usage Prediction Tool</h1>
<p style= "text-align:center;">This tool aims to predict the usage of bikesharing programs in Washington, D.C. based on current weather conditions and time of day.</p>

<!-- the DIV that will contain the widget -->
<div class="weatherForecastWidget"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
<link rel="stylesheet" href="https://www.visualcrossing.com/widgets/forecast/weather-forecast-widget-d3.css">
<script>
    window.weatherWidgetConfig =  window.weatherWidgetConfig || [];
    window.weatherWidgetConfig.push({
        selector:".weatherForecastWidget",
        apiKey:"7BYNR7A5VCRX7G6DT9KHFR4QR",
        location:"Washington, D.C.",
        unitGroup:"us"
    });
    (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://www.visualcrossing.com/widgets/forecast/weather-forecast-widget-d3.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<!-- end weather widget --> 

     <!-- Main Input For Receiving Query to our ML -->
    <br>
    <div id='button'>
        <form action='/'>
        <input type=submit value='PREDICT CURRENT USAGE'>
        </form>
    </div>
    <br>

    <p> Based on current weather conditions, there are an estimated {{prediction}} city bikes in use.</p>

   <br>
   <br>

 </div>
</body>
</html>
